<!-- {{yield}} -->
<div class="well well-sm extra-padding-bottom">
  <h3>{{sectionTitle}}</h3>

  <div class="form-inline">

   <div class="form-group has-feedback {{unless isCounterValid 'has-error'}}">
     <label class="control-label">Number of new records:</label>
     {{input value=counter class='form-control' placeholder=placeholder}}
   </div>

   <button class="btn btn-primary" {{action 'generateAction'}} disabled={{generateIsDisabled}}>
     {{#if generateInProgress}}
       <span class="glyphicon glyphicon-refresh spinning"></span> Generating...
     {{else}}
       Generate {{sectionTitle}}
     {{/if}}
   </button>
   {{#fader-label isShowing=generateReady}}Created!{{/fader-label}}

   <button class="btn btn-danger" {{action 'deleteAction'}} disabled={{deleteIsDisabled}}>
     {{#if deleteInProgress}}
       <span class="glyphicon glyphicon-refresh spinning"></span> Deleting...
     {{else}}
       Delete All {{sectionTitle}}
     {{/if}}
   </button>
   {{#fader-label isShowing=deleteReady}}Deleted!{{/fader-label}}
  </div>
</div>
