{{outlet}}
<h2>Contacts</h2>
<div class="row">
  {{#each model as |contact|}}
   <div class="col-md-4">
    <div class="panel panel-default library-item">
      <div class="panel-heading">
        <h3 class="panel-title">{{contact.id}}</h3>
      </div>
      <div class="panel-body">
        <p>E-mail: {{contact.email}}</p>
        <p>Message: {{contact.message}}</p>
      </div>
      <div class="panel-footer text-right">
          <button class="btn btn-danger btn-xs" {{action 'deleteContact' contact}}>Delete</button>
        </div>
      </div>
    </div>
  {{/each}}
</div>
