{{outlet}}
<div class="jumbotron text-center">
  <h1>Contact Page</h1>

  <br/><br/>

  {{input type="email" value=model.email class="form-control" placeholder="Please type your e-mail address." autofocus="autofocus"}}
  <br/>

  {{textarea value=model.message class="form-control" placeholder="Your message. (At least 5 characters.)" rows="7"}}
  <br/><br/>

  <button class="btn btn-primary btn-lg btn-block" disabled={{isDisabled}} {{action 'sendContact' model}}>Send Message</button>

  <br/><br/>

  {{#if responseMessage}}
     <div class="alert alert-success">{{responseMessage}}</div>
  {{/if}}

  <br/><br/>
</div>
